/* CartIcon.css */

.cart-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease; /* Animasi perubahan saat hover */
}

.cart-icon svg {
  color: white;
  transition: transform 0.3s ease; /* Animasi perubahan saat hover */
}

.cart-icon:hover,
.cart-icon:hover svg {
  transform: scale(1.1); /* Memperbesar ikon saat hover */
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.8em;
}
